footer {
  padding-top: 100px;
  .footer_top {
    background-color: #fafafa;
  }
  .footer_bot {
    background-color: #ececec;
  }
  .footer_top,
  .footer_bot {
    justify-content: center;
    align-items: center;
    text-align: center left;
    padding: 50px 0;
    .order,
    .register {
      border-left: 1px solid #ececec;
    }
    h5 {
      font-weight: 750;
    }
    ul {
      padding: 0;
      li {
        text-decoration: none;
        list-style: none;
        a {
          text-decoration: none;
          color: orange;
        }
      }
    }
  }
}
